language: node_js

cache:
  directories:
  - node_modules

node_js:
- "stable"
- "8"
- "9"
- "10"

script: npm run test

jobs:
  include:
  - stage: TS lint
    node_js: stable
    script: npm run lint

after_success: npm run coveralls